/* PAGE TITLE FIELD */
body {
    background: #FFFFFF;
}

.page-title-wrapper {
    background-image: url(../images/page-title-acorrdion.jpg);

    text-align: center;
    position: relative;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0 114px 0;
}

.red-page-title-text {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-family: Poppins;
    margin: 0;
}

.page-title-wrapper:before {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    z-index: 0;
}

.page-title {
    font-family: Poppins;
    color: #303030;
    font-size: 48px;
    line-height: 1.3;
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
}

#breadcrumb {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    background: transparent !important;
}

#breadcrumb a {
    color: white;
}

#breadcrumb a:hover {
    color: #007DF2;
}

.breadcrumb-inner>span {
    padding-right: 3px;
    padding-left: 6px;
}

.header-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 111px !important;
    width: 595px;
}

.header-inner h1 {
    margin: 0 0 15px;
    color: #303030;
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
}

.header-inner p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 35px;
}

* {
    box-sizing: inherit;
}

/* MAIN SECTION */
.main {
    padding-top: 0;
}

.row1 {
    display: flex;
}

.row {
    margin-left: 0;
    margin-right: auto;
}

.info {
    padding-top: 108px !important;
    display: flex;
}

.vc_row:after,
.vc_row:before {
    content: " ";
    display: table;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.vc_column-inner::before {
    content: " ";
    display: table;
}

.heading {
    position: relative;
    z-index: 2;
    font-size: 36px;
    line-height: 52px;
    color: #303030;
    font-weight: 600;
}

h1 {
    margin: 0 0 15px;
    font-family: Poppins;
}

.primary-color {
    color: rgba(0, 125, 242, 1);
}

.vc_col-sm-6 {
    width: 50%;
}

.medi_info {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
    padding: 0;
}

/* DEPARTMENTS */

.Departments {
    padding-top: 63px !important;
    padding-bottom: 103px !important;
}

.inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.inner::before {
    content: " ";
    display: table;
}

.cms-grid-item {
    position: relative !important;
    margin-bottom: 30px !important;
}

.department-item {
    box-shadow: 8px 0 35px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
    padding: 35px 45px 36px;
    transition: all ease 0.3s;
    transform: translateY(13px);
    ;
}

.department-item>i {
    width: 116px;
    height: 116px;
    background: #f5f5f5;
    text-align: center;
    line-height: 116px;
    color: rgba(0, 125, 242, 1);
    font-size: 51px;
    border-radius: 50%;
    display: inline-block;
    transition: all ease 0.3s;
}
.department-item > i.flaticon-heart:before {
    max-width: 32%;
    display: inline-block;
}
.flaticon-heart:before {
    content: "\f11c";
}
.flaticon-brain:before {
    content: "\f11e";
}
.flaticon-bone:before {
    content: "\f154";
}
.flaticon-tooth:before {
    content: "\f10d";
}
.flaticon-liver:before {
    content: "\f114";
}
.flaticon-stomach:before {
    content: "\f11d";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}


.department-item .entry-title {
    padding-top: 24px;
}

h3 {
    margin: 0 0 15px;
    color: #303030;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.department-item .subtitle {
    font-size: 14px;
    line-height: 26px;
}

.department-item .detail-link {
    padding-top: 29px;
}

.department-item .detail-link a {
    width: 100%;
    padding: 18px 35px;
    border: #e1e1e1 solid 2px;
    border-radius: 5px;
    background: #fff;
    color: rgba(0, 125, 242, 1);
}

.department-item .detail-link a i {
    padding-left: 6px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}

.cms-grid-item:hover .department-item>i {
    background: rgba(0, 125, 242, 0.1);
}

.cms-grid-item:hover .department-item {

    transform: translateY(0px);
}

.cms-grid-item:hover .department-item .detail-link a {
    background: rgba(0, 125, 242, 1);
    color: #fff;
    border-color: #eee;
}
.bone{
    transform: rotate(45deg);
}
/* Book and Appointment */

.book {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 152px;
    margin-top: 65px;
}

.vc_custom_1561103354360 {

    padding-top: 0px !important;
    background-image: url(../images/bg-ring.png) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.red-call-to-action {
    padding: 39px 0 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.btn {

    margin: 10px 0;
    background: #fff;
    color: #303030;
}

.btn:hover {
    background-color: black;
    color: white;
}

.red-call-to-action .cta-title {
    margin: 0;
}

.red-call-to-action .cta-title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}

.appointment {
    position: relative;
    box-sizing: border-box;
    width: 1349px;
    padding-left: 74.5px;
    padding-right: 84.5px;
    background: #007DF2;
}
/* RESPONSIVITY */

@media (max-width: 768px) {
    .container{
        max-width: 720px !important;
    }
    .row{
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .info , .Departments{
        width: 720px !important;
    }
    .Departments .inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .Departments .wpb_wrapper .row{
        width: 690px !important;
    }
    /* footer */
    .row_list {
        width: 720px;
      }
    .appointment{
      width: auto;
      height: 203px;
    }
    
      .footer .inner {
        width: 180px !important;
        padding-left: 15px !important;
      }
    
      .text-content {
        width: auto !important;
      }
    
      .layout-default {
        width: 150px !important;
      }
    
      .social-icon {
        display: flex;
        justify-content: space-between;
      }
    
      .column>p {
        width: 110px;
      }
      .full-page{
        overflow: hidden;
      }
    

}
@media (max-width: 375px) {
    .vc_col-sm-6 {
        width: 100% !important;
    }
    
    .vc_column_container>.vc_column-inner {
        padding-left: 0 !important;
      
    }
    .info{
        width: 375px !important;
        display: block !important;
    }
    .heading{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .Departments{
        width: 375px !important;  
    }
    .Departments .wpb_wrapper .row {
       width: 375px  !important;
       padding-right: 30px !important;
    }
    .appointment{
        padding: 0px 0 38px;
        height: 254px !important;
        width: 375px !important;
      }
      .book{
        height: 252px;
      }
      .content-area{
        width: 375px;
        padding-left: 30px !important;
      }
      /* foooter */
.row_list{
    display: block !important;
  }
  .footer .inner {
    width: 375px !important;
    padding-left: 15px !important;
  }
  
  h3.footer-title{
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  
  }
  .column p{
    width: auto !important;
  }
  .container{
    padding-left: 0 !important;
  }
  .layout-default{
    width: 375px !important;
    padding-left: 30px !important;
    height: 250px !important;
  }
   .layout-default>.row{
     width: 345px !important;
   }
   .social-icon{
     justify-content: space-around;
     width: 175px !important;
   }
  
  




}