.custom-container {
    width: 100%;
}

.custom-wrapper {
    width: 88%;
}

* {
    box-sizing: border-box;
}

.blog-main {
    margin-bottom: 120px;
    padding-top: 138px;
}

.padding {
    padding-left: 0;
    padding-right: 0;
}

/* CONTENT AREA */
.blog-main-title {
    padding: 0 88px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center !important;
    font-size: 36px;
    line-height: 52px;
    color: #303030;
}

.title-withtag {
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    margin-left: -11px;
    margin-right: -11px;
    padding: 10px 0px 31px;
    margin-bottom: 16px;
    text-align: center;
}

.single-post .entry-meta>div {
    display: inline-block;
}

.title-withtag .meta-item a {
    color: #888 !important;
    line-height: 1;
    position: relative;
}

.meta-span {
    color: #888;
    line-height: 1;
    margin: 0 10px;
    position: relative;
}

.entry-meta>div.term a {
    padding: 0 1px;
}

.single-post .entry-standard,
.single-post .entry-image {
    margin-top: -16px;
    margin-bottom: -41px;
}

.entry-media {
    position: relative;
    overflow: hidden;
}

.single-post .entry-standard img,
.single-post .entry-image img {
    margin-top: 16px;
    margin-bottom: 41px;
}

img {
    border-style: none;
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

.entry-content {
    margin-top: 41px !important;
}

h5.blog-text {
    margin-bottom: 33px;
    line-height: 23px;
    font-size: 15px;
    font-weight: 600;
    color: #303030;
}

figure.wp-block-image {
    margin-top: 44px;
    margin-bottom: 44px;
}

.ul-head {
    color: #303030;
    font-size: 15px;
    margin-bottom: 33px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}

.blog-ul {
    display: block !important;
    padding: 0 0 0 29px;
    margin: 0 0 15px 0;
    list-style: none;
}

.blog-ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 13px;
}

.blog-ul li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background: #777;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.list-inline-item:first-child {
    color: #303030;
    margin-right: 5px;
}

.social-share li:not(:last-child) {
    margin-right: 13px;
}

.social-share li a {
    color: #888;
}

.blog-ul+h5 {
    font-weight: 600;
    margin-bottom: 13px;
    line-height: 23px;
    font-size: 15px;
}

blockquote {
    font-size: 15px;
    font-weight: 600;
    padding: 0 35px 0 75px;
    border: none;
    color: #303030;
    line-height: 23px;
    margin-bottom: 38px;
    position: relative;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
}

blockquote:before {
    position: absolute;
    top: 3px;
    left: 29px;
    content: "\f130" !important;
    font-family: Flaticon;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 125, 242, 1);
}

.entry-tags-share {
    padding-top: 24px;
    border-top: #e6e6e6 solid 1px;
    margin-top: 44px;
    font-weight: 600;
    animation: moveVertical 1s ease forwards;
}

span.tag {
    color: #303030;
    font-weight: 400;
    margin-right: 6px;
}

a.tag {
    color: #888 !important;
    font-weight: 400;
}

/* navbar */
.single-post-navigation {
    margin-top: 74px !important;
}

.single-post-navigation .previous {
    padding-right: 25px;
    text-align: left;
}

.single-post-navigation .next {
    padding-left: 25px;
    text-align: right;
}

.nav-box-inner {
    padding: 41px 27px;
    color: #303030;
    height: 100%;
    border: 1px solid #e6e6e6;
}

.single-post-navigation .previous .col-right {
    padding-left: 5px;
}

a {
    text-decoration: none;
    color: #303030;
    transition: all 300ms linear 0ms;
}

.single-post-navigation .nav-box-inner .title-nav {
    padding-top: 2px;
}

.single-post-navigation .nav-box-inner .h3 {
    line-height: 33px;
    font-weight: 600;
    padding-top: 16px;
}

.single-post-navigation .nav-box-inner .title-nav a {
    color: #777;
}

.single-post-navigation .nav-box-inner {
    padding: 41px 27px;
    color: #303030;
    height: 100%;
}

/* comment area */
.comment-list-area {
    margin-top: 50px;
    padding: 45px 34px 0px;
    border: 1px solid #e6e6e6;
}

.comment-respond {
    padding-top: 70px;
}

h2.comments-title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

.comment-list {
    border-top: #e6e6e6 solid 1px;
    padding-top: 40px;
}

.main-comment {
    border-bottom: #e6e6e6 solid 1px;
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.new-comment {
    padding: 30px 0;
}

.comment-author-image {
    width: 135px;
    padding-right: 35px;
    float: left;
}

.comment-author-image img {
    border-radius: 100%;
}

.comment-content-main {
    width: calc(100% - 135px);
    float: left;
    margin-top: -6px;
}

.comment-header {
    margin-bottom: 3px;
}

.author-name {
    font-size: 14px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding-bottom: 18px;
    display: block;
}

.comment-text p {
    margin-top: 0;
}

.comment-date-reply {
    font-size: 12px;
    padding-top: 14px;
    color: #777;
}

.comment-date-reply a {
    color: #303030;
    margin-left: 12px;
}

.comment:last-child {
    padding-bottom: 0;
}

.comment-list .comment .comment {
    padding-top: 33px;
    width: 100%;
    float: right;
}

.comment-list .comment .comment {
    width: calc(100% - 50px);
}

.main-comment-second {
    border-bottom: none;
}

/* respond */
.comment-respond h3 {
    margin-bottom: 3px;
}

small,
.small {
    font-size: 13px;
    font-weight: 400;
}

form.comment-form {
    margin-bottom: 5px;
}

form.comment-form>.row {
    margin-top: 44px;
}

form input {
    width: 100%;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 28px;
    height: 62px;
    font-weight: 500;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: inherit;
    color: #777;
    font-family: Poppins;
    border-radius: 0px;
    transition: all 300ms linear 0ms;
    margin-bottom: 15px;
}

form.comment-form p {
    margin-top: 0;
    margin-bottom: 2px;
}

select,
textarea {
    vertical-align: top;
    height: 160px;
    width: 100%;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: inherit;
    color: #777;
    border-radius: 0px;
    transition: all 300ms linear 0ms;
    font-family: Poppins;
    margin-bottom: 18px;
}

form.comment-form input[type="submit"] {
    height: 55px;
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 125, 242, 1);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: rgba(0, 125, 242, 1) solid 1px;
}

textarea:focus {
    border-color: rgba(0, 125, 242, 1);
    color: rgba(0, 125, 242, 1);
}

input:focus {
    border-color: rgba(0, 125, 242, 1);
    color: rgba(0, 125, 242, 1);
}

form.comment-form input[type="submit"]:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

form.comment-form input[type="submit"] {
    text-align: center;
}

/* SIDEBAR AREA */
.sidebar-inner {
    width: 100%;
    padding: 54px 30px 49px;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
}

#sidebar-area .widget {
    margin-bottom: 54px;
}

h3.wg-title {
    font-size: 18px;
    color: #303030 !important;
    line-height: 26px;
    font-weight: 600;
    border-bottom: #ebebeb solid 1px;
    padding-bottom: 8px;
    margin: 0 0 44px 0;
}

.search-form input.search-field {
    width: 100%;
    height: 62px;
    margin: 0;
    border: 1px solid #ebebeb;
    padding-right: 50px;
    position: relative;
}

label.search {
    display: block;
    margin-bottom: 54px;
}

.search-form input.search-submit {
    position: absolute;
    right: 28px;
    margin-bottom: 0;
    border: none;
    width: 62px;
    background: none;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 125, 242, 1);
    font-weight: 600;
}

.search-sidebar {
    position: absolute;
    left: 83%;
    top: 155px;
    font-size: 22px;
    background: transparent;
}

#categories-2 {
    margin-bottom: 43px;
}

#categories-2 ul {
    display: block;
    padding-left: 0;
}

#categories-2 ul li {
    padding: 10px 0 12px;
}

#categories-2 ul li>a {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #888;
}

#categories-2 ul li>a span {
    margin-left: 4px;
}

/* archive */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

select {
    width: 100%;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    text-align: inherit;
    color: #777;
    border-radius: 0px;
    transition: all 300ms linear 0ms;
    font-family: Poppins;
    margin-bottom: 18px;
    height: 62px;
    margin: 0;
    outline: none;
}

#archives-2 {
    margin-bottom: 43px;
}

#custom_html-5 {
    margin-bottom: 54px;
}

.bannner {
    position: relative;
    margin-top: -10px;
    text-align: center;
}

.bannner .block-contact {
    position: absolute;
    bottom: 88px;
    left: 0;
    width: 100%;
    text-align: center;
}

.block-contact a {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 15.5px 36px;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: #fff;
    border: 2px solid rgba(0, 125, 242, 1);
    background-color: rgba(0, 125, 242, 1);
    background-image: none;
    background-size: inherit;
    background-position: inherit;
    background-attachment: inherit;
    border-radius: 5px;
    transition: all 300ms linear 0ms !important;
}

.tagcloud {
    margin-top: -4px;
    display: flex;
}

.tagcloud>a {
    font-size: 14px !important;
    position: relative;
    color: #777;
    margin-bottom: 7px;
    display: inline-block;
    padding-right: 15px;
}

h3.tagcloud-head {
    margin-bottom: 20px;
}


/* RESPONSIVITY */

@media (max-width: 768px) {

    .blog-main-title {
        padding: 0 !important;
    }

    .custom-wrapper {
        width: 100%;
    }

    .sidebar-inner {
        margin-left: 0 !important;
    }

    .tagcloud {
        display: block !important;
    }

    .comment-list .comment .comment {
        width: 100% !important
    }

    .appointment {
        width: auto;
    }

    .inner {
        width: 180px !important;
        padding-left: 15px !important;
    }

    .text-content {
        width: auto !important;
    }

    .layout-default {
        width: 150px !important;
    }

    .social-icon {
        display: flex;
        justify-content: space-between;
    }

    .column>p {
        width: 110px;
    }

    .full-page {
        overflow: hidden;
    }

    .nav-box div.h3 {
        display: none;
    }
}

@media (max-width: 375px) {
    .blog-main-title {
        padding: 0;
        font-size: 23px;
        line-height: 30px;
    }

    .custom-wrapper {
        display: block !important;
    }
    .title-withtag {
        font-size: 12px;
        margin: 0;
    }

    .nav-box div.h3 {
        display: none;
    }

    .arrow-right {
        padding: 0;
    }

    .arrow-left {
        padding: 0;
    }

    .nav-next {
        padding-left: 0;
    }

    .comment-author-image {
        display: none;
    }

    .comment-content-main {
        width: 100%;
    }

    .comment-list-area {
        padding-left: 10px;
        padding-right: 10px;
    }

    .comment-inner {
        width: 100%;
    }

}

@media(max-width:1024px) {
    .custom-wrapper {
        width: 100% !important;
    }

    .blog-main-title {
        padding: 0;
    }

    .single-post-navigation .nav-box-inner {
        padding: 15px;
    }

    .single-post-navigation .nav-box-inner .h3 {
        font-size: 22px;
    }

    .sidebar-inner {
        margin: 0;
    }
}