.page-title-wrapper {
    padding: 127px 0 99px 0 !important;
}

.second-main {
    padding-top: 90px;
}

.container {
    max-width: 1200px;
}

.style-5 {
    padding-right: 25px;
}

.notices {
    margin-bottom: 27px;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 15.5px 36px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: #fff;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #303030;
    background-color: #303030;
    background-image: url(inherit);
    background-size: cover;
    background-position: inherit;
    background-attachment: inherit;
    border-radius: 5px;
    transition: all 300ms linear 0ms !important;
}

.button:hover {
    color: #fff;
    border-color: #303030;
    background-color: rgba(0, 125, 242, 1);
    border-width: 0px 0px 0px 0px;
}

@media(max-width: 375px) {
    .second-main.container {
        padding-left: 15px !important;
        width: 100% !important;
    }

    .return-to-shop .button{
    padding: 12.5px 30px;
    font-size: 12px;
    }
}